@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
html {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, rgb(138, 255, 146), rgb(0, 52, 14));
}


/* this doesnt look good */
#homepage {
    background-color: rgb(247, 255, 248);
    width: 50%;
    height: auto;
    /* color: rgb(14, 18, 15); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
}

#mainDiv {
    background-color: rgb(247, 255, 248);
    width: 50%;
    height: auto;
    color: rgb(14, 18, 15);
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
}

.prince {
    background-color: rgb(219, 255, 223);
    width: 50%;
    height: auto;
    color: rgb(14, 18, 15);
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
}

.accordion {
    background-color: rgb(219, 255, 223);
    width: 100%;
    height: auto;
    font-size: large;
    color: rgb(14, 18, 15);
    margin-top: 10px;
    margin-right: auto;
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: rgb(219, 255, 223);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Datatype", monospace;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: rgb(0, 0, 0);
    font-family: "Datatype", monospace;
    padding: 14px 16px;
    text-decoration: none;
}

ui li a:hover {
    background-color: rgb(62, 83, 64);
    color: rgb(0, 0, 0);
}